In [10]:
# wczytanie danych
import pandas

df = pandas.read_csv('50_Startups.csv', header=0, sep=',')
display(df['State'].unique())

array(['New York', 'California', 'Florida'], dtype=object)

In [ ]:
"""
# przygotowanie danych
df['New York'] = df.State.apply(lambda x: 1 if x == "New York" else 0)
df['California'] = df.State.apply(lambda x: 1 if x == "California" else 0)

newdf = df.drop(['State'], axis = 1)    
newdf.head()
"""

In [27]:
# przygotowanie danych
# if neither NY nor California then Florida - simple relation
for tempState in ['New York', 'California']:
    df[tempState] = (df['State'] == tempState) + 0

newdf = df.drop(['State'], axis = 1)    
newdf.head()

   R&D Spend  Administration  Marketing Spend     Profit  New York  California
0  165349.20       136897.80        471784.10  192261.83         1           0
1  162597.70       151377.59        443898.53  191792.06         0           1
2  153441.51       101145.55        407934.54  191050.39         0           0
3  144372.41       118671.85        383199.62  182901.99         1           0
4  142107.34        91391.77        366168.42  166187.94         0           0

In [28]:
# podział na treningowe i testowe
from sklearn.model_selection import train_test_split

x_fields = newdf[['R&D Spend', 'Administration', 'Marketing Spend', 'New York', 'California']]
y_fields = newdf[['Profit']]

x_train, x_test, y_train, y_test = train_test_split(x_fields, y_fields, random_state=1)

In [29]:
# przygotowanie modelu
from sklearn import linear_model

regr = linear_model.LinearRegression()

In [30]:
# trenowanie modelu
regr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [31]:
# predykcja na danych testowych
y_pred = regr.predict(x_test)

In [32]:
# wyniki
from sklearn.metrics import mean_squared_error

In [33]:
print('Współczynniki: ', regr.coef_)
print('Wyraz wolny: ', regr.intercept_)
print('Błąd średniokwadratowy: %.2f' % mean_squared_error(y_test, y_pred))
print('Współczynnik determinacji R^2: %.2f' % regr.score(x_train, y_train))

Współczynniki:  [[ 7.61639095e-01 -1.13592335e-03  3.35038917e-02  5.83502287e+02
  -2.65505554e+02]]
Wyraz wolny:  [49071.34810401]
Błąd średniokwadratowy: 68771246.80
Współczynnik determinacji R^2: 0.94

In [19]:
#wizualizacja